@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*--Header Section--*/

header {
    display: inline-block;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, rgba(94, 145, 226, 1) 0%, rgba(0, 13, 124, 1) 100%);
}

nav {
    width: 100vw;
    position: fixed;
    box-sizing: border-box;
    z-index: 200;
}

.blue {
    background-color: #000d7c;
}

.ul-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 5rem;
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    list-style: none;
}

.link-item {
    padding-left: 8rem;
}

.link-item a {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: white;
}

#logo {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: white;
}

.booking {
    width: 120px;
    height: 40px;
    padding: 10px 25px;
    background-color: transparent;
    font-size: 15px;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
}


/*--Header Content Section--*/

.avi {
    position: absolute;
    top: 15%;
    left: 15%;
    transform: (-30%, -30%);
    font-size: 6.5rem;
    letter-spacing: 5rem;
    font-family: 'Noto Sans TC', sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.main-img {
    scale: 1.5;
    position: absolute;
    top: 20%;
    left: 28%;
}

.topic {
    text-align: center;
    position: relative;
    top: 60%;
    font-size: 4rem;
    font-family: 'Rubik', sans-serif;
    color: white;
}

.sub-top {
    text-align: center;
    position: relative;
    top: 61%;
    font-size: 15px;
    color: white;
    font-weight: 300;
}


/*--Header-About Form Section--*/

.class-btn {
    position: absolute;
    top: 82%;
    left: 10%;
    font-size: 0;
    margin: 0;
}

.class-btn button {
    width: 100px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(215, 215, 215);
    z-index: 100;
}

.eco {
    border-top-left-radius: 20px;
}

.first {
    border-top-right-radius: 20px;
}

.book-form {
    position: absolute;
    top: 87%;
    left: 10%;
    border-radius: 0px 25px 25px 25px;
    -webkit-box-shadow: -5px 32px 78px -9px rgba(158, 158, 158, 1);
    -moz-box-shadow: -5px 32px 78px -9px rgba(158, 158, 158, 1);
    box-shadow: -5px 32px 78px -9px rgba(158, 158, 158, 1);
}

.book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 75rem;
    height: 12rem;
    padding: 20px;
    border-radius: 0px 25px 25px 25px;
}

.btn-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.btn-form-item:nth-child(2) {
    padding-top: 50px;
}

.book-now {
    text-align: center;
    width: 12rem;
    height: 3rem;
    color: white;
    background-color: rgb(46, 46, 255);
    border: none;
    border-radius: 70px;
    box-shadow: 0px 13px 31px -22px #000;
}

.book-main {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.book-main li {
    padding-left: 20px;
}

.icon-img {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 20px;
}

.img-icon {
    width: 15px;
    height: 15px;
}

.icon-form {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.input-form {
    display: flex;
    list-style: none;
    flex-direction: column;
}

.input-topic {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 10px;
}

.input-data input {
    border: none;
}


/*--About Section--*/

.about {
    height: 100vh;
    width: 100vw;
}

.feature-topic {
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
}

.main-card-div {
    position: relative;
    top: 35%;
    margin: 0 50px;
}

.main-card-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.main-card-div-item {
    margin: 0 30px;
}

.main-card-div-item {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 20px;
    box-shadow: 2.4px 3.4px 58.4px rgba(0, 0, 0, 0.056), 6.5px 9.3px 61.2px rgba(0, 0, 0, 0.077), 15.7px 22.3px 56.3px rgba(0, 0, 0, 0.093), 52px 74px 80px rgba(0, 0, 0, 0.12);
}

.main-card-div-item:hover {
    scale: 1.05;
    transition: 0.1s ease-in-out;
}

.sub-class-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

.sub-class-li {
    padding: 15px 0px;
}

.sub-clz-icon {
    width: 2rem;
    height: 2rem;
}

.sub-class-icon {
    width: 4rem;
    height: 4rem;
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.sub-class-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    background-color: rgb(46, 46, 255);
    border: none;
}

.sub-class-btn-icon {
    filter: invert(90%) sepia(100%) saturate(0%) hue-rotate(114deg) brightness(104%) contrast(101%);
    width: 1.5rem;
    height: 1.5rem;
}

.card-sub-top {
    font-family: 'Rubik', sans-serif;
}


/* 2nd About Section*/

.about-2 {
    height: 100vh;
    width: 100vw;
}

.about-img {
    float: left;
    position: relative;
    top: 25%;
    left: 10%;
}

.main-1-img {
    width: 20rem;
    height: 30rem;
    background-image: url('img/landscape\ 2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 200px;
}

.main-2-img {
    width: 10rem;
    height: 15rem;
    position: absolute;
    top: -10%;
    left: -25%;
    background-image: url('img/travel\ girl.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 200px;
    border: 10px solid white;
}

.main-3-img {
    width: 10rem;
    height: 15rem;
    position: absolute;
    top: 55%;
    left: 75%;
    background-image: url('img/couple\ passport.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 200px;
    border: 10px solid white;
}

.about-desc {
    float: right;
    position: relative;
    top: 30%;
    left: -5%;
    padding-right: 2rem;
}

.desc-fly {
    color: blue;
    font-size: 1.8rem;
}

.desc-h1 {
    font-size: 2.5rem;
    padding-top: 1rem;
}

.list {
    font-size: 1.2rem;
    line-height: 30px;
    padding-top: 1.5rem;
    list-style: disc;
}

.list-items {
    padding-top: .8rem;
}

.about-book {
    padding: 15px 45px;
    margin-top: 30px;
    background-color: rgb(46, 46, 255);
    color: white;
    border: none;
    border-radius: 50px;
    font-family: 'Rubik', sans-serif;
}

.ticket {
    width: 100vw;
    height: 50vh;
    background-color: rgba(0, 13, 124, 1);
}

.tick-left {
    float: left;
    margin: 20px;
    position: relative;
    top: 10%;
}

.tik-h1 {
    color: white;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
}

.tik-p {
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
    font-size: 1rem;
}

.tick-right {
    float: right;
    margin-right: 20px;
    margin-top: -100px;
}

.tik-img {
    width: 35rem;
    height: 35rem;
}


/*Best Traveller Section*/

.travel {
    width: 100vw;
    height: 100vh;
}

.travel-h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 10%;
}

.travel-card {
    position: relative;
    top: 10%;
}

.travel-card-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    list-style: none;
}

.travel-card-ul li {
    margin: 0 30px;
}

.sub-card {
    background-color: white;
    width: 15rem;
    height: 20rem;
    border-radius: 20px;
    box-shadow: 0.9px 2.6px 2.2px rgba(0, 0, 0, 0.025), 1.5px 4.4px 5.3px rgba(0, 0, 0, 0.036), 2.2px 6.3px 10px rgba(0, 0, 0, 0.045), 3.7px 10.6px 17.9px rgba(0, 0, 0, 0.054), 8.6px 24.9px 33.4px rgba(0, 0, 0, 0.065), 25px 72px 80px rgba(0, 0, 0, 0.09);
}

.sub-card:hover {
    scale: 1.05;
    transition: 0.1s ease-in-out;
}

.subcard-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.card-bg {
    position: relative;
    top: -22%;
    left: 3.5%;
    width: 14rem;
    height: 12rem;
    background-image: url('img/italy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

#img-4 {
    background-image: url('img/denmark.jpg');
}

#img-3 {
    background-image: url('img/landscape\ 2.jpg');
}

#img-2 {
    background-image: url('img/italy\ 2.jpg');
}

.subcard-img {
    border: 6px solid white;
    position: relative;
    top: 50%;
    left: 33%;
    background-image: url('img/girl\ with\ bag.jpg');
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    z-index: 100;
}

.sub-topic {
    position: relative;
    top: -8%;
    left: 33%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
}

.subcard-id {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -8%;
    left: 37%;
}


/*Review Section*/

.review {
    background-image: url("img/travel\ equ.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cmt-main {
    position: relative;
    top: 30%;
    left: 0;
}

.comment {
    border-radius: 20px;
    width: 30rem;
    height: 20rem;
    background-color: white;
    box-shadow: -2.3px -2.3px 2.2px rgba(0, 0, 0, 0.02), 1.2px 1.2px 5.3px rgba(0, 0, 0, 0.028), 10px 10px 10px rgba(0, 0, 0, 0.035), 24.8px 24.8px 17.9px rgba(0, 0, 0, 0.042), 48.6px 48.6px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.cmt-img {
    width: 5rem;
    height: 5rem;
    margin: 10px;
    border-radius: 50px;
}

.cmt-h1 {
    padding: 30px;
}

.cmt-topic {
    text-align: center;
}

.cmt-p {
    margin: 30px;
    text-align: center;
}

.cmt-btn {
    text-align: center;
    margin-top: 30px;
}

#cmt-btn-btn {
    width: 3rem;
    height: 3rem;
    background-color: #0013bd;
    color: white;
    font-weight: bolder;
    border: 2px solid #0013bd;
    margin: 0 20px;
    border-radius: 50px;
}


/*contact section*/

.contact {
    height: 50vh;
    width: 100vw;
    background-color: #dde0ff;
    text-align: center;
}

.contact-main {
    position: relative;
    top: 30%;
}

.contact form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 30rem;
    border-radius: 50px;
}

.contact h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
}

.contact input {
    background-color: white;
    border: none;
    height: 3rem;
    width: 20rem;
    font-size: 20px;
}

.contact input:active,
:focus {
    border: none;
}

.contact button {
    background-color: #4444ff;
    border-radius: 50px;
    color: white;
    border: 1px solid #4444ff;
    height: 3rem;
    width: 8rem;
}